@charset "UTF-8";

/* 폰트 */
*{
	font-family: 'Noto Sans KR', sans-serif;
}

.desc{
	border:1px solid gray;
	padding:30px;
	margin:20px;
	border-radius:30px;
}

/*초기화*/
body, ul, li{
	padding:0;
	margin:0;
	list-style-type:none;
}

a:link, a:visited, a:hover{
	text-decoration:none;
	color:#00AD7C;
}

.container{
	width:2000px;
	margin:0 auto;
}

/*헤더*/
header{
	background:#FFF8B5;
	color:#3C6E57;
}

.logo{
	width:130px;
	height:50px;
	margin:0;
	text-align:center;
	font-size:35px;	
}

.category{
	margin:0;
}
.category>ul{
	width:1200px;
	height:50px;
	overflow:auto;
}
.category li{
	float:left;
	text-align:center;
	font-size:1.2em;
	width:150px;
	height:40px;
	line-height:40px;
}

/*푸터*/
footer{
	background:#B5FF7D;
	padding:30px 0;
	text-align:center;
	margin-top:50px;
}
.d1{
	background:gray;
	padding:30px 0px;
	
}

