<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.meal.happy.dao.CommDAO">
  
  	<insert id="boardInsert">
		insert into board(no, subject, content, userid, ip)
		values(board_sq.nextval, #{subject}, #{content}, #{userid}, #{ip})
	</insert>
	
	<select id="totalRecord" resultType="int">
		select count(b.no) totalRecord from board b join register r on b.userid=r.userid
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>

	<select id="pageSelect" resultType="com.meal.happy.dto.CommDTO">
		select * from
			(select * from
				(
					select b.no, b.subject, b.userid, r.username, b.hit, to_char(b.writedate,'MM-DD HH:MI') writedate 
					from board b join register r on b.userid=r.userid 
					<if test="searchWord!=null"><!-- 검색어가 있을 경우 -->
						and ${searchKey} like '%${searchWord}%'  
					</if>
					
					order by b.no desc
				) 
				
				<![CDATA[
				where rownum<=${onePageRecord*nowPage} order by no asc	
				]]>
				)
				<choose>
					<when test="nowPage!=totalPage">
					<![CDATA[
					where rownum <=${onePageRecord} order by no desc
					]]>
					</when>
					<when test="nowPage==totalPage">
					<![CDATA[
					where rownum <=${lastPageRecord} order by no desc
					]]>	
					</when>
				</choose>
	</select>
	
	<select id="boardSelect" resultType="com.meal.happy.dto.CommDTO">
		select b.no, b.subject, b.content, r.username,r.userid, b.hit, b.writedate
		from board b join register r on b.userid= r.userid
		and b.no=${param1}
	</select>
	
	<select id="boardEditSelect" resultType="com.meal.happy.dto.CommDTO">
		select no, subject, content from board where no=${param1}
	</select>
	
	<update id="boardUpdate" parameterType="com.meal.happy.dto.CommDTO">
		update board set subject=#{subject}, content=#{content} where no=${no} and userid=#{userid}
	</update>
	
	<update id ="boardHitCount">
		update board set hit=hit+1 where no=${param1}
	</update>
	
	<delete id="boardDelete">
		delete from board where no=${no} and userid=#{userid}
	</delete>
	<select id="dataFilenameList" resultType="String">
		select filename from datafile where no=${param1}
	</select>
	
	<delete id="boardMultiLineDelete">
	<!-- delete from board where no in (42,46,12,23); -->
	delete form board
	<foreach item="item" collection="list" open="where no in (" separator=", " close=")">
		#{item}
	</foreach>
	</delete>
	
	
	</mapper>