<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.meal.happy.dao.MenuDAO">
  
  	
	
<select id="menuTotalRecord" resultType="int">
		select count(a.amenu_no) totalRecord from amenu_type t, amenu a where t.amenu_type_no=a.amenu_type_no
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
	

<select id="pageSelect" resultType="com.meal.happy.dto.MenuDTO">
   
    <choose>
        <when test="amenu_time !=null and !amenu_time.isEmpty()">
        select * from
			(select * from
				(
		         	select a.amenu_no, a.amenu_thumbnail, a.amenu_type_no, t.amenu_type_name, a.amenu_name, a.amenu_time, a.amenu_text
		   		 	from amenu_type t, amenu a
		    		where t.amenu_type_no=a.amenu_type_no 
		            and a.amenu_time='${amenu_time}'
		            and a.amenu_type_no='${amenu_type_no}'
		            order by a.amenu_name asc, a.amenu_time asc
		        )
		        
		        <![CDATA[
				where rownum<=${onePageRecord*nowPage} order by amenu_no desc	
				]]>
				)
				<choose>
					<when test="nowPage!=totalPage">
					<![CDATA[
					where rownum <=${onePageRecord} order by amenu_no asc
					]]>
					</when>
					<when test="nowPage==totalPage">
					<![CDATA[
					where rownum <=${lastPageRecord} order by amenu_no asc
					]]>	
					</when>
				</choose>
        </when>
        <otherwise>
            <if test="amenu_type_no!=null and !amenu_type_no.isEmpty()">
				select * from (
				    select a.amenu_no, a.amenu_thumbnail, a.amenu_type_no, t.amenu_type_name, a.amenu_name, a.amenu_time, a.amenu_text
				    from amenu_type t, amenu a
				    where t.amenu_type_no = a.amenu_type_no and a.amenu_type_no = '${amenu_type_no}'
				    order by a.amenu_name asc, a.amenu_time asc
				) where rownum &lt; '10'
            </if>                    
        </otherwise>
    </choose>
</select>
	
	<select id="menuSelect" resultType="com.meal.happy.dto.MenuDTO">
		select * from amenu where amenu_type_no=${param1} and amenu_name=${param2}
		order by amenu_time
	</select>
	
	<update id ="menuHitCount">
		update amenu set amenu_hit=amenu_hit+1 where amenu_type_no=${param1} and amenu_name=${param2}
	</update>
	
	<select id="findLike" resultType="int">
		select count(*)result from menu_like where menu_no = ${menu_no} and userid = #{userid}
	</select>
	
	<delete id="delMenuLike" >
		delete from menu_like where menu_no = ${menu_no} and userid = #{userid}
	</delete>
	
	<insert id="menuLikeUp" >
		insert into menu_like(menu_no, userid)
  		values(#{menu_no}, #{userid})
	</insert>
	
	<select id="count_like_hit" resultType="int">
		select count(*) menu_like_hit FROM menu_like where menu_no = #{menu_no}
	</select>
	
	</mapper>