<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meal.happy.dao.RecipeDAO">
      
	<insert id="recipeInsert">
		insert into recipe(recipe_no, userid, recipe_name, ip, recipe_manual01)
		values(recipe_sq.nextval, #{userid}, #{recipe_name}, #{ip}, #{recipe_manual01})
	</insert>
      
	<select id="recipeTotalRecord" resultType="int">
		select count(b.recipe_no) totalRecord from recipe b join member r on b.userid=r.userid
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
	  
	<select id="pageSelect" resultType="com.meal.happy.dto.RecipeDTO">
		select * from
			(select * from
				(
					select b.recipe_no, b.recipe_name, b.recipe_thumbnail, b.userid, r.username, b.recipe_hit, to_char(b.recipe_date,'MM-DD HH:MI') recipe_date 
					from recipe b join member r on b.userid=r.userid 
					<if test="searchWord!=null"><!-- 검색어가 있을 경우 -->
						and ${searchKey} like '%${searchWord}%'  
					</if>
					
					order by b.recipe_no desc
				) 
				
				<![CDATA[
				where rownum<=${onePageRecord*nowPage} order by recipe_no asc	
				]]>
				)
				<choose>
					<when test="nowPage!=totalPage">
					<![CDATA[
					where rownum <=${onePageRecord} order by recipe_no desc
					]]>
					</when>
					<when test="nowPage==totalPage">
					<![CDATA[
					where rownum <=${lastPageRecord} order by recipe_no desc
					]]>	
					</when>
				</choose>
	</select>
	
	<select id="recipeSelect" resultType="com.meal.happy.dto.RecipeDTO">
		select b.recipe_no, b.recipe_name, b.recipe_manual01, b.recipe_manual_img01, r.username, r.userid, b.recipe_hit, b.recipe_date
		from recipe b join member r on b.userid= r.userid
		and b.recipe_no=${param1}
	</select>
	
	<update id ="recipeHitCount">
		update recipe set recipe_hit=recipe_hit+1 where recipe_no=${param1}
	</update>
    
    <select id="recipeEditSelect" resultType="com.meal.happy.dto.RecipeDTO">
		select recipe_no, recipe_name, recipe_manual01 from recipe where recipe_no=${param1}
	</select>
	
	<update id="recipeUpdate" parameterType="com.meal.happy.dto.RecipeDTO">
		update recipe set recipe_name=#{recipe_name}, recipe_manual01=#{recipe_manual01} where recipe_no=${recipe_no} and userid=#{userid}
	</update>
    
    <delete id="recipeDelete">
		delete from recipe where recipe_no=${recipe_no} and userid=#{userid}
	</delete>
        
  </mapper>