<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meal.happy.dao.ResDAO">
	
	<select id="resTotalRecord" resultType="int">
		select count(res_no) from restaurant
	</select>
	
	<select id="resPageSelect" resultType="com.meal.happy.dto.ResDTO">
		select * from
			(select * from
				(select res_no, res_name, res_addr, res_latitude, res_longitude, res_tel, res_type, res_time,  
				res_note, res_like, res_hit, res_image, res_date, res_category, res_status 
				from restaurant
				where res_status=1
		 		<if test="searchWord!=null"><!-- 검색어가 있을 경우 -->
		 			and ${searchKey} like '%${searchWord}%' 
		 		</if>
			    order by res_no desc 
		 		)
		 	
			 	<![CDATA[
			 	where rownum<=${onePageRecord*nowPage} order by res_no asc
			 	]]>
			 	)
		 		<choose>
		 			<when test="nowPage!=totalPage">
					 	<![CDATA[
					 	where rownum<=${onePageRecord} order by res_no desc
					 	]]>
		 			</when>
		 			<when test="nowPage==totalPage">
		 				<![CDATA[
					 	where rownum<=${lastPageRecord} order by res_no desc
					 	]]>
		 			</when>
		 		</choose>
	</select>
	
	<select id="resSelect" resultType="com.meal.happy.dto.ResDTO">
		select res_no, res_name, res_addr, res_latitude, res_longitude, res_tel, res_type, res_time, res_note,  
		res_like, res_hit, res_image, to_char(res_date, 'yy-MM-DD') res_date, res_category, res_status  
		from restaurant where res_no=${param1}
	</select>
	
	<update id="resHitCount">
		update restaurant set res_hit=res_hit+1 where res_no=${param1}
	</update>
	
	<insert id="resEditInsert">
		insert into res_edit(res_edit_no, res_no, userid, res_edit_type, res_edit_text)  
		values(res_edit_sq.nextval, #{res_no}, #{userid}, #{res_edit_type}, #{res_edit_text})
	</insert>
	
	<insert id="resReqInsert">
		insert into restaurant(res_no, res_name, res_addr, res_latitude, res_longitude, res_type, res_time, res_note, ip, res_status, userid) 
		values(res_no_sq.nextval, #{res_name}, #{res_addr}, #{res_latitude}, #{res_longitude}, #{res_type}, #{res_time}, #{res_note}, #{ip}, #{res_status}, #{userid})
	</insert>

</mapper>
  